{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="h-100">
    <div class="row h-100">
        <div class="col-12 col-lg-8 my-auto hero-image">
            <img src="/media/kapow-image.png" alt="KAPOW!" class="kapow-image">
        </div>
        <div class="col-12 col-lg-4 my-auto hero-text">
            <h1 class="cta-text">
                Find your next collectible!
            </h1>
            <div class="">
                <h4 class="cta">
                    <a href="" class="btn btn-lg btn--cta">
                        <span>Shop Now</span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}