{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container container-basket">
    <div class="row">
        <div class="col">
            <hr>
                <h2 class="basket-header">Your Basket</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if basket_items %}
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Collection Item</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Sub-Total</th>
                            </tr>
                        </thead>

                        {% for item in basket_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img src="{{ item.product.image.url }}" alt="" class="img-fluid">
                                </td>
                                <td class="p-3">
                                    <p class="basket-product-name"><strong>{{ item.product.name }}</strong></p>
                                    <p class="basket-sku text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="p-3">
                                    <p class="basket-product-name">£{{ item.product.price }}</p>   
                                </td>
                                <td class="p-3 w-25">
                                    <p class="basket-product-name">{{ item.quantity }}</p>   
                                </td>
                                <td class="p-3">
                                    <p class="basket-product-name">£{{ item.product.price }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="">
                                <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                                <h6><strong>Delivery: £{{ delivery|floatformat:2 }}</strong></h6>
                                <h4><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="free-delivery-text">
                                        Free delivery is only <strong>£{{ free_delivery_delta }}</strong> away!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a href="{% url 'products' %}" class="btn btn--basket">
                                    <span class="btn--back">Go Back</span>
                                </a>
                                <a href="" class="btn btn--secure">
                                    <span class="btn--back">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="basket-text">Your basket is empty</p>
                <a href="{% url 'products' %}" class="btn btn-lg btn--basket">
                    <span class="icon">
                        <i></i>
                    </span>
                    <span class="user-guidance">Back to collection</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}