html {
    height: 100%;
}

/*---------------------------------------- base.html ---*/
.brand-nav-link {
    width: fit-content;
    color: #0e0e10;
    text-decoration: none;
}

.account-icon,
.shopping-basket {
    text-align: center;
}

/*--- anchor link hover function - www.codegrepper.com ---*/
a, 
a:hover, 
a:focus, 
a:active {
    text-decoration: none;
    color: inherit;
}


.brand-text {
    font-weight: bolder;
}

/*---------------------------------------- delivery banner base.html ---*/

.free-delivery-banner {
    background-color: #0e0e10;
    color: #ecece7;
}

.free-delivery-text {
    font-size: 16px;
}

.free-delivery-icon-left {
    padding-left: 0px;
    padding-right: 5px;
}

.free-delivery-icon-right {
    padding-left: 5px;
    padding-right: 0px;
}

/*---------------------------------------- footer base.html ---*/
#footer {
    bottom: 0;
    left: 0;
    right: 0;
    height:75px;
    background:#fff;
    margin-top: 25px;
}

.footer-text {
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
}

.footer-social {
    justify-content: center;
}

.social-links {
    padding: 0px;
}

.social-item {
    padding-left: 5px;
    padding-right: 5px;
}

/*---------------------------------------- block content index.html ---*/

body{
    height: calc(100vh - 164px);
    font-family: 'Raleway', sans-serif;
    color: #0e0e10;
    max-width: 96%;
}

.hero-image,
.hero-text {
    text-align: center;
    padding: 0px 15px 0px;
}

.kapow-image {
    margin-top: 125px;
    width: 80%;
}

.cta-text {
    font-size: 32px;
    font-weight: 500;
    margin: 45px 0px 25px;
}

/*---------------------------------------- block content products.html ---*/

/*--- product header ---*/
.productsHeader-container {
    padding-top: 125px;
}

.products-header {
    text-align: center;
}

.header-text {
    font-weight: bold;
    text-transform: uppercase;
}

/*--- product sort select ---*/
.sort-select-container {
    display: flex;
    justify-content: center;
    border: none;
}

.sort-select-text {
    text-align: center;
}


/*--- product card ---*/
.card {
    border: none;
    margin-top: 15px;
}

.card-body {
    padding-bottom: 0px;
}

.product-name {
    text-align: center;
    font-size: x-large;
}

.product-price {
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
}

.product-text {
    text-align: center;
}

.card-footer {
    padding-top: 0px;
    background-color: #fff;
    border: none;
    text-align: left;
    margin-bottom: 30px;
}

/*--- back to top link---*/
.back-to-top-link {
    display: flex;
    justify-content: center;
}

.back-to-top-text

.fa-arrow-up {
    margin-left: 7px;
    padding: 5px;
    border: 2px solid;
}

/*---------------------------------------- block content product_details.html ---*/

.product-image {
    padding-top: 125px;
    padding-bottom: 30px;
}

.product-description {
    text-align: justify;
}

.product-price-detail {
    margin-bottom: 5px;
}

.product-description {
    margin-top: 20px;
}

.product-information {
    text-align: center;
}


/*---------------------------------------- buttons & badges ---*/

/*--- button ---*/
.btn {
    background-color: #ff0000;
    color: #ecece7;
    text-transform: uppercase;
    border: none;
}

/*--- boutique ado - hover function ---*/
.btn--search:hover,
.btn--search:active,
.btn--search:focus {
    background: #0e0e10;
    color: #ecece7;
}

/*--- pulse grow - Ian Lunn ---*/
/*--- account icon ---*/
@-webkit-keyframes account-icon {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}

@keyframes account-icon {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}

.account-icon {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.account-icon:hover, .account-icon:focus, .account-icon:active {
    -webkit-animation-name: account-icon;
    animation-name: account-icon;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/*--- shopping basket icon ---*/
@-webkit-keyframes shopping-basket {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}

@keyframes shopping-basket {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}

.shopping-basket {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.shopping-basket:hover, .shopping-basket:focus, .shopping-basket:active {
    -webkit-animation-name: shopping-basket;
    animation-name: shopping-basket;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/*--- call to action - w3 schools ---*/
.btn--cta {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn--cta span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #ecece7;
}

.btn--cta span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: #ecece7;
}
  
.btn--cta:hover span {
    padding-right: 25px;
}  

.btn--cta:hover span:after {
    opacity: 1;
    right: 0;
}

/*---category badge---*/
.badge {
    margin: 5px;
    padding: 10px 13px 10px 13px;
    border: 1px solid;
    border-radius: 3px;
}

.badge:hover,
.badge:active,
.badge:focus {
    background: #0e0e10;
    color: #ecece7;
}

/*---------------------------------------- base.html ---*/
.form-control {
    border: 1px solid;
    border-color: #0e0e10;
}

.btn--search {
    background-color: #fff;
    color: #0e0e10;
}

/*---------------------------------------- main_nav.html ---*/



/*---------------------------------------- mobile_top_header.html ---*/
.nav-link-mobile {
    padding: 3px;
}


.mobile-dropdown {
    padding-left: 0px;
    margin: 0 auto;
}

/*---------------------------------------- media queries (768px) ---*/
@media (min-width: 768px) {
.cta-text{
    font-size: 65px;
}

/*--- mobile-top-header.html---*/
.mobile-dropdown {
    display: contents;
}

.navbar-expand-lg {
    padding-left: 30px;
    padding-right: 30px;
}

/*--- delivery banner ---*/
.free-delivery-text {
    font-size: 1.5rem;
}

.free-delivery-icon-left {
    padding-left: 0px;
    padding-right: 15px;
}

.free-delivery-icon-right {
    padding-left: 15px;
    padding-right: 0px;
}

/*--- products.html ---*/
.sort-select-wrapper {
    margin-right: 15px
}

/*--- product_detail.html ---*/
.product-image {
    padding-top: 180px;
}

.product-information{
    padding-top: 230px;
    padding-left: 0px;
}
}
/*---------------------------------------- media queries (992px) ---*/

/*CI-Boutique Ado*/
@media (min-width: 992px) {
.fixed-top-desktop-only{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

/*containers*/
.header-container {
    padding-top: 164px;
}

.productsHeader-container {
    padding-top: 200px;
}

.user-options {
    padding-right: 30px;
}

.kapow-image {
    margin-top: 200px;
    height: max-content;
    width: 70%;
}

.hero-text {
    padding-right: 90px;
}

.cta-text {
    margin-top: 290px;
    font-size: 45px;
}

/*product_detail.html*/
.product-image {
    padding-top: 260px;
}

.product-information{
    padding-top: 290px;
    padding-left: 15px;
    padding-right: 0px;
}

.back-to-top-text {
        margin-top: 16px;
    }

}
