html {
    height: 100%;
}

body {
    background: url('/media/kapow-image.png') no-repeat center right fixed;
    height: calc(100vh - 164px);
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.header-container {
    padding-top: 164px;
}

