<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- all products dropdown -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- dc-comics dropdown -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="dc-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DC Comics
            </a>
            <div class="dropdown-menu" aria-labelledby="dc-link">
                <a href="{% url 'products' %}?category=dc_comics" class="dropdown-item">DC Comics</a>
            </div>
        </li>

        <!-- film & tv dropdown -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="film-tv-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Film & TV
            </a>
            <div class="dropdown-menu" aria-labelledby="film-tv-link">
                <a href="{% url 'products' %}?category=dungeons_dragons" class="dropdown-item">Dungeons & Dragons</a>
                <a href="{% url 'products' %}?category=jurassic_park" class="dropdown-item">Jurassic Park</a>
                <a href="{% url 'products' %}?category=lotr" class="dropdown-item">LOTR</a>
                <a href="{% url 'products' %}?category=thundercats" class="dropdown-item">Thundercats</a>
            </div>
        </li>

        <!-- gaming -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="gaming-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gaming
            </a>
            <div class="dropdown-menu" aria-labelledby="gaming-link">
                <a href="{% url 'products' %}?category=mortal_kombat" class="dropdown-item">Mortal Kombat</a>
                <a href="{% url 'products' %}?category=assassins_creed" class="dropdown-item">Assassins Creed</a>
            </div>
        </li>

        <!-- marvel -->
        <li class="nav-item dropdown">
            <a href="" class="nav-link mr-5" id="marvel-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Marvel
            </a>
            <div class="dropdown-menu" aria-labelledby="marvel-link">
                <a href="{% url 'products' %}?category=avengers_endgame" class="dropdown-item">Avengers: Endgame</a>
            </div>
        </li>
    </ul>
</div>